<!-- <h1>Greeting</h1> -->
<!-- <div [hidden]="!authenticated()"> -->
<!-- 	<p>The ID is {{greeting.id}}</p> -->
<!-- 	<p>The content is {{greeting.content}}</p> -->
<!-- </div> -->
<!-- <div [hidden]="authenticated()"> -->
<!-- 	<p>Login to see your greeting</p> -->
<!-- </div> -->

<h1>Home</h1>
<p>You're logged in with Angular 6 & JWT!!</p>
<div>
    Users from secure api end point:
    <ul>
        <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
    </ul>
</div>
<p><a [routerLink]="['/login']">Logout</a></p>
